@import url(../fonts/font-awesome-4.7.0/css/font-awesome.css);
@import url(../css/header.css);
@import url(../css/main.css);

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Black.ttf");
    src: url("../fonts/Lato/Lato-Bold.ttf");
    src: url("../fonts/Lato/Lato-Italic.ttf");
    src: url("../fonts/Lato/Lato-Light.ttf");
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

* {
    font-family: 'Lato', Arial, sans-serif;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #a3a78b;
}
.nav-list {
    margin-top: 20px;
    padding-left: 0;
}
.nav-list__item {
    list-style: none;
}

.nav-list__item a {
    font-size: 18px;
    color: black;
}

.nav-list__item a:hover {
    color: #94a14c;
}

.nav-list__item a i {
    margin-right: 5px;
}